
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
}

.game-container {
    grid-row: 1;
    grid-column: 1;
}

.board-container {
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    font-size: 6rem;
}

.game-sidebar {
    grid-row: 1;
    grid-column: 2;

    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
}