
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    position: relative;
}

.page-content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-evenly;
}

.board-container {
    width: 40%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: url("./imgs/wood-grain-background.jpg");
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    font-size: 7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tile[data-rowcol = "0-0"],
.tile[data-rowcol = "1-0"],
.tile[data-rowcol = "2-0"] {
    border-left: none;
}

.tile[data-rowcol = "0-0"],
.tile[data-rowcol = "0-1"],
.tile[data-rowcol = "0-2"] {
    border-top: none;
}

.tile[data-rowcol = "0-2"],
.tile[data-rowcol = "1-2"],
.tile[data-rowcol = "2-2"] {
    border-right: none;
}

.tile[data-rowcol = "2-0"],
.tile[data-rowcol = "2-1"],
.tile[data-rowcol = "2-2"] {
    border-bottom: none;
}

.player-name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-sidebar {
    grid-row: 1;
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    place-items: center;
}


/* CSS for dialog */
dialog {
    height: 40%;
    min-width: 20%;

    margin: auto;
    padding: 2rem;
    border-radius: 10px;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form button {
    width: 80%;
    border-radius: 10px;

    padding: 1rem;
    align-self: center;
}

.player-input-wrapper {
    display: flex;
    flex-direction: column;
}

form input {
    font-size: 1.15rem;
    padding: .15rem;
}