
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.board-container {
    width: 50%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    font-size: 6rem;
}